@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background: #ffffff;
  color: #111111;
}

button,
input,
textarea,
select {
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}



.chat-scroll::-webkit-scrollbar {
    width: 6px;
}

.chat-scroll::-webkit-scrollbar-track {
    background: transparent;
}

.chat-scroll::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 10px;
}

.chat-scroll::-webkit-scrollbar-thumb:hover {
    background: #9ca3af;
}